header.header
    .container-fluid
        .container
            .logo.col-md-2.col-sm-6.col-xs-12.text-center
                include svg/logo.pug
            nav.header-nav.col-md-8.hidden-sm.hidden-xs.text-center
                a(href="/spacestore") Home
                a(href="#") Store
                a(href="#") Delivery
                a(href="#") Track
                a(href="#") About Us
                a(href="#") Contacts
            .tray.col-md-1.text-right
                i.material-icons add_shopping_cart
            .login.col-md-1
                i.material-icons lock
    
